@import "~react-image-gallery/styles/scss/image-gallery.scss";

.image-gallery {
  border: 1px solid #ccc;
  border-radius: 5px 5px 0 0;
  flex-grow: 1;
  width: 100%;
}

.image-gallery-left-nav .image-gallery-svg,
.image-gallery-right-nav .image-gallery-svg {
  height: 60px;
  width: 30px;
}

.image-gallery-thumbnail-image {
  height: 60px;
  object-fit: cover;
}

// .image-gallery_full>IMG {
//   object-fit: contain !important;
// }

.image-gallery_small>IMG {
  background-color: #323232;
  border-radius: 5px;
  // object-fit: cover !important;
}