.realtor {
  display: flex;
  color: #737373;

  &__wrap {
    width: 100%;
    flex-grow: 1;
    gap: 1rem;
    flex-direction: column;
    display: flex;
  }

  &__weight {
    font-weight: 600;
  }

  &__title {
    font-size: 18px;
  }

  &-card {
    display: flex;
    gap: 0.5rem;

    &__img {
      height: 60px;
      width: 60px;
      object-fit: cover;
      border-radius: 30px;
    }

    &__wrap {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 0.5rem;
    }

    &__text {
      font-size: 12px;
    }

    &__link {
      text-decoration: none;
      color: #0c54a0;
    }
  }

  &__comment {
    margin: 0;
    font-size: 12px;
  }
}